:root {
    --color-one: #414141;
    --color-two: #F4F4F4;
    --color-three: #BDBDBD;
    --color-four: #FAFAFB;
    --color-five: #7D23E0;
    --color-six: #5C5C5C;
    --color-seven: #FFFAEE;
    --color-eight: #3AC817;
    --color-nine: #EFE5FB
}

.font-color-one {
    color: var(--color-one);
}

.font-color-two {
    color: var(--color-five)
}
.bg-color-one {
    background-color: var(--color-five);
}

.shadow {
    box-shadow: 0px 4px 20px rgba(122, 129, 220, 0.2);
}

.radius {
    border-radius: 12px;;
}


::placeholder {
    color: var(--color-three);
}

@media screen and (max-width:768px) {
    ::placeholder {
        font-size:14px;
    }
}